@tailwind base;
@tailwind components;
@tailwind utilities;


.header-banner {
    height: 570px !important;
    width: auto !important;
    background-repeat: no-repeat;
    background-position: left  -20px;
    background-size: 750px 600px;
    width: 92em;
    background-color: rgb(255, 245, 235);
  }  


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.orderContainer::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.banner {
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}
.bg-primary {
  background:black;
}
.bg-primary-dark {
  background: #ce193c;
}

.border-primary {
  border: 1px solid #f91944;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: visible;
}
.btn{
  @apply text-sm bg-primary py-3 px-6 rounded-full text-white poppins ring-blue-300 focus:ring-4 transition duration-300 hover:scale-105
}

.food-filters{
  @apply p-8 hover:border-b-2 hover:border-solid focus:border-b-4 focus:border-solid border-black
}


@media only screen and (max-width: 600px) {
    .custom_h1{
    font-size: 40px;
    color: black;
    font: bolder;
  }
}